<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Golileo Skindex</title>
    <script src="/cdn/js/app.js" defer></script>
    <link href="/cdn/css/style.css" rel="stylesheet">
</head>
<body>
<div class="warning">
    <b>BETA:</b> De website is nog in ontwikkeling en zal dus waarschijnlijk nog bugs bevatten.
</div>

<h1>Golileo Skindex</h1>
<p>Welkom op Golileo Skindex. Hier kun je zoeken naar de skins van spelers. </p>
<form>
    <input id="username" name="username" placeholder="Steve" type="text"/>

    <button>Zoeken</button><br>
    <br>
    <input type="radio" id="full" name="mode" value="full"
           checked>
    <label for="full">Full</label>

    <input type="radio" id="head" name="mode" value="head">
    <label for="head">Head</label>

</form>

<div class="results">
    <div id="searchresult">


    </div>
    <canvas id="skindisplay" style="display: none">

    </canvas>
</div>




</body>
</html>